@font-face {
    font-family: "Open Sans Hebrew";
    src: url('../font/Opes_Sans_Hebrew_Fixed/opensanshebrew-regular-webfont.eot');
    src: url('../font/Opes_Sans_Hebrew_Fixed/opensanshebrew-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Opes_Sans_Hebrew_Fixed/opensanshebrew-regular-webfont.woff') format('woff'),
         url('../font/Opes_Sans_Hebrew_Fixed/opensanshebrew-regular-webfont.ttf') format('truetype'),
         url('../font/Opes_Sans_Hebrew_Fixed/opensanshebrew-regular-webfont.svg#open_sanslight') format('svg');      
}
body, html {
    margin: 0;
    font-family: "Open Sans Hebrew","Open Sans","Arial",sans-serif;
    font-size: 15px;
    height: 100%;
    width: 100%;
    direction: ltr;
}
body {
    background-image: url("../img/main2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
  font-size: 110px;
  text-align: center;
  color: #fff;
  text-shadow: 14px -1px 15px #000;
}
#icon{
    text-align: center;
    margin-top: 1%;
}
div#icon div {
    display: inline-block;
    vertical-align: top;
    margin: 10PX;
    padding: 0px;
    color: black;
    text-align: center
}
#logo img{
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    padding-top: 3%;
    padding-bottom: 3%;
}
.wrap-in-touch{
    left: 0;
    right: 0;
    width: 265px;
    margin: auto;
}
div.in-touch-left{
    text-align: right;
    background-color: #fff;
    width: 225px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 4px;
    border-top-right-radius: 30em;
    border-bottom-right-radius: 30em;
    padding-right: 0px;
    margin-bottom: 7px;
    margin-right: 0
}
p.in-touch-left{
    display: inline-block;
    vertical-align: middle;
}
img.in-touch-left{
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
  
    margin-right: 6px;
    height: 31px;
    width: 31px;
}
div.in-touch-right{
    text-align: left;
    background-color: #fff;
    width: 225px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 4px;
    border-top-left-radius: 30em;
    border-bottom-left-radius: 30em;
    padding-left: 0px;
    margin-bottom: 7px;
    margin-left: 0
}
p.in-touch-right{
    display: inline-block;
    vertical-align: middle;
}
img.in-touch-right{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
  
    margin-left: 6px;
    height: 31px;
    width: 31px;
}
a:link    {color:black; text-decoration: none}
a:visited {color:black; text-decoration: none}

@media (max-width:1023px) {

    body {
        background-image: url("../img/mobile2.png");
    }
    #logo img {
      padding: 0;
      width: 65%;
    }

    #icon {
        margin-top: 5%;
        padding: 1%;
        margin-bottom: 7%;
    }

    div#icon div {
      display: inline-block;
      vertical-align: top;
      padding: 0px;
      text-align: center;
      left: 0;
      right: 0;
      width: 265px;
      margin: -3% -1%;
    }
    #icon div img {
      width: 100%;
      height: auto;
      display: inline-block;
    }
    .wrap-in-touch {
        width: 678px;
        margin: 1.5% auto;
        font-size: 2.7em;
    }
    div.in-touch-right {
        width: 630px;
    }
    img.in-touch-right {
    height: 75px;
    width: auto;
    }
    div.in-touch-left {
        width: 630px;
    }
    img.in-touch-left {
    height: 75px;
    width: auto;
    }

}


